






# Data Structures
There are four collection data types in the Python programming language
- Lists
- Tuples
- Sets
- Dictionaries

## Python Lists
A list is a collection which is ordered and changeable. 
In Python lists are written with square brackets.

In [ ]:
b = 'ganesh'
c = 200
a = ["sanket",'kiran']
print(type(a))
print(a)
print(type(b))
print(b)
print(type(c))
print(c)

<class 'list'>
['sanket', 'kiran']
<class 'str'>
ganesh
<class 'int'>
200

In [ ]:
names = ['Raj', 'Arjun', 'Priya','Kishor','Anu']
print(names)
print(type(names))

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']
<class 'list'>

In [ ]:
names
print(names[:3] )# for first 3 index values
print(names[2:]) # for from second index values onward

['Raj', 'Arjun', 'Priya']
['Priya', 'Kishor', 'Anu']

In [ ]:
# Access items
print(names[3])
print(names[2:])
print(names[:2])
print(names[1:3])

Kishor
['Priya', 'Kishor', 'Anu']
['Raj', 'Arjun']
['Arjun', 'Priya']

In [ ]:
names

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [ ]:
# Negative index
print(names[-1])
print(names[-2:])
print(names[:-2])
print(names[-3:-1])

Anu
['Kishor', 'Anu']
['Raj', 'Arjun', 'Priya']
['Priya', 'Kishor']

In [ ]:
# Change item in list
print(names)
names[3]="joy"
print(names)

['Raj', 'Arjun', 'Priya', 'Vijay', 'Anu']
['Raj', 'Arjun', 'Priya', 'joy', 'Anu']

In [ ]:
# Looping through lists
for j in names:
    print(j)#+'5'+j)

Raj
Arjun
Priya
Kishor
Anu

In [ ]:
# Nested list
mylist=[1,2,3,['a','b',[5,6]]]
print(mylist)

[1, 2, 3, ['a', 'b', [5, 6]]]

In [ ]:
sp =[["Science"],["Commerce"],["Arts"]]
sp

[['Science'], ['Commerce'], ['Arts']]

## Methods 
- append(): Adds an element at the end of the list
- clear(): Removes all the elements from the list
- copy(): Returns a copy of the list
- count(): Returns the number of elements with the specified value
- del : Delete list
- extend(): Add the elements of a list (or any iterable), to the end of the current list
- index(): Returns the index of the first element with the specified value
- insert():	Adds an element at the specified position
- len(): Length of list
- list(): Copies list from given list
- pop(): Removes the element at the specified position
- remove():	Removes the item with the specified value
- reverse(): Reverses the order of the list
- sort(): Sorts the list

In [ ]:
# append(): Adds an element at the end of the list
print(names)
names.append("Kumar")
print(names)

['Raj', 'Arjun', 'Priya', 'joy', 'Anu']
['Raj', 'Arjun', 'Priya', 'joy', 'Anu', 'Kumar']

In [ ]:
# clear(): Removes all the elements from the list
print(names)
names.clear()
print(names)

['Raj', 'Arjun', 'Priya', 'joy', 'Anu', 'Kumar']
[]

In [ ]:
# copy(): Returns a copy of the list
names = ['Raj', 'Arjun', 'Priya','Kishor','Anu']
Names1=names.copy()
print(Names1)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']

In [ ]:
names

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj']

In [ ]:
# count(): Returns the number of elements with the specified value
names.append("Raj")
x=names.count('Raj')
print(x)

2

In [ ]:
# del : Delete list
print(Names1)
del Names1
print(Names1)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu']

NameError: ignored

In [ ]:
# extend(): Add the elements of a list (or any iterable), 
# to the end of the current list
cars = ['Ford', 'BMW', 'Volvo']
names.extend(cars)
print(names)

['Raj', 'Arjun', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']

In [ ]:
# index(): Returns the index of the first element with the specified value
x=names.index('Anu')
x

4

In [ ]:
# insert():	Adds an element at the specified position
names.insert(2,'

Audi')
print(names)

['Raj', 'Arjun', 'Audi', 'Priya', 'Kishor', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']

In [ ]:
# len(): Length of list
print(len(names))

10

In [ ]:
# list(): Creats list from given inputs
new_list=list(('Audi',"BMW",'Ford'))
print(new_list)

['Audi', 'BMW', 'Ford']

In [ ]:
# pop(): Removes the element at the specified position
names.pop(2)
#print(names.pop(2))
print(names)
#names.pop(2)
#print(names)
print(len(names))

['Raj', 'Arjun', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']
7

In [ ]:
# remove(): Removes the item with the specified value
names.remove('Raj')
print(names)

['Arjun', 'Anu', 'Raj', 'Ford', 'BMW', 'Volvo']

In [ ]:
# reverse(): Reverses the order of the list
names.reverse()
print(names)

['Volvo', 'BMW', 'Ford', 'Raj', 'Anu', 'Arjun']

In [ ]:
# sort(): Sorts the list
names.sort()
print(names)

['Anu', 'Arjun', 'BMW', 'Ford', 'Raj', 'Volvo']

## Tuples
A tuple is a collection which is ordered and unchangeable. 


In Python tuples are written with round brackets.

The key difference between the tuples and lists is that while the tuples are immutable objects the lists are mutable. 

This means that tuples cannot be changed while the lists can be modified.
Tuples are more memory efficient than the lists.

In [ ]:
t1=(1,5,8,3,10,3)
t2=('Raj', 'Arjun', 'Priya','Kishor','Anu')
print(t1,"\n")
print(t2)

(1, 5, 8, 3, 10, 3)

('Raj', 'Arjun', 'Priya', 'Kishor', 'Anu')

In [ ]:
t3 = ["Raj","Arjun"]
t3

['Raj', 'Arjun']

In [ ]:
# Access elements
print(t1[0])
print(t1[2:])
print(t1[:3])

1
(8, 3, 10, 3)
(1, 5, 8)

In [ ]:
# Negative index
print(t1[-1])
print(t1[-4:])
print(t1[:-3])

3
(8, 3, 10, 3)
(1, 5, 8)

Tuples are not interchangable. So no additional element can be added or removed. Try...

In [ ]:
# Change tuple values
t1[0]=99

TypeError: ignored

In [ ]:
# Looping through tuple
for j in t1:
    print(j)

In [ ]:
# Check if 'Raj' in t2
if "Raj" in t2:
    print("Raj is listed in t2")
print('Raj' in t1)

In [ ]:
# tuple with one item
T1=("Hi",)
print(type(T1))
T2=("Hi")
print(type(T2))

## Methods 
- tuple(): Creates tuple with elements specified.
- len(): Gives length of tuple, no. of elements in tuple.
- t1 + t2 : Adds two tuples
- del(): Deletes tuple
- count(): Returns the number of times a specified value occurs in a tuple.
- index(): Searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
# tuple(): Creates tuple with elements specified.
t=tuple((0,2,4,6,0,2,2,5,2,0,2,3,4))
print(t)

(0, 2, 4, 6, 0, 2, 2, 5, 2, 0, 2, 3, 4)

In [ ]:
# len(): Gives length of tuple, no. of elements in tuple.
len(t)

13

In [ ]:
# t1 + t2 : Adds two tuples
t + t1

(0, 2, 4, 6, 0, 2, 2, 5, 2, 0, 2, 3, 4, 1, 5, 8, 3, 10, 3)

In [ ]:
# del(): Deletes tuple
print(t1)
del t1
print(t1)

(1, 5, 8, 3, 10, 3)

NameError: ignored

In [ ]:
# count(): Returns the number of times a specified value occurs in a tuple.
print(t)
t.count(2)

(0, 2, 4, 6, 0, 2, 2, 5, 2, 0, 2, 3, 4)

5

In [ ]:
# index(): Searches the tuple for a specified value and returns the position of where it was found.
print(t)
t.index(2)

(0, 2, 4, 6, 0, 2, 2, 5, 2, 0, 2, 3, 4)

1

In [ ]:
t = (1,2,5,'a','b', (1,'c'))
print(t)

(1, 2, 5, 'a', 'b', (1, 'c'))

## Sets
A set is a collection which is unordered and unindexed. 
In Python sets are written with curly brackets.

In [ ]:
set1={1,3,8,9,4,3,5,2,1}
print(set1,"\n")
set2={'A','C','D','A','X'}
print(set2)

{1, 2, 3, 4, 5, 8, 9}

{'X', 'A', 'D', 'C'}

# Access items
# You cannot access items in a set by referring to an index, 
# since sets are unordered the items has no index.

In [ ]:
# Access items
# loop through the set items using a for loop
for j in set1:
    print(j)
print('A' in set2)

NameError: ignored

## Methods
- add(): Adds an element to the set
- clear(): Removes all the elements from the set
- copy(): Returns a copy of the set
- difference(): Returns a set containing the difference between two or more sets
- difference_update(): Removes the items in this set that are also included in another, specified set
- discard(): Remove the specified item
- intersection(): Returns a set, that is the intersection of two other sets
- intersection_update(): Removes the items in this set that are not present in other, specified set(s)
- isdisjoint(): Returns whether two sets have a intersection or not
- issubset(): Returns whether another set contains this set or not
- issuperset(): Returns whether this set contains another set or not
- len(): Finds length of set
- pop(): Removes an element from the set
- remove(): Removes the specified element
- symmetric_difference(): Returns a set with the symmetric differences of two sets
- symmetric_difference_update(): inserts the symmetric differences from this set and another
- union(): Return a set containing the union of sets
- update(): Update the set with the union of this set and others

In [ ]:
# add(): Adds an element to the set
print(set1)
set1.add(12)
print(set1)

{1, 2, 3, 4, 5, 8, 9}
{1, 2, 3, 4, 5, 8, 9, 12}

In [ ]:
# copy(): Returns a copy of the set
set1=set2.copy()
print(set1)

{'A', 'X', 'C', 'D'}

In [ ]:
# clear(): Removes all the elements from the set
set2.clear()
print(set2)

set()

In [ ]:
# difference(): Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = y.difference(x)
print(z)

{'mi', 'samsung'}

In [ ]:
  
  
  # difference_update(): Removes the items in this set that are also included in another, specified set
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.difference_update(x)
print(y)

In [ ]:
# discard(): Remove the specified item
print(set1)
set1.discard('X')
print(set1)

In [ ]:
# intersection(): Returns a set, that is the intersection of two other sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = y.intersection(x)
print(z)

In [ ]:
# intersection_update(): Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.intersection_update(x)
print(y)

In [ ]:
# isdisjoint(): Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = x.isdisjoint(y)
print(z)

In [ ]:
# issubset(): Returns whether another set contains this set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}#,'banana','cherry'}

z = y.issubset(x)
print(z)

In [ ]:
# issuperset(): Returns whether this set contains another set or not
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple",'banana','cherry'}

z = y.issuperset(x)
print(z)

In [ ]:
# len(): Finds length of set
len(x)

In [ ]:
# pop(): Removes an element from the set and returns the removed value.
print(x)
print(x.pop())
print(x)

In [ ]:
# remove(): Removes the specified element
#y={'samsung', 'apple', 'mi'}
print(y)
y.remove('mi')
#y.remove('MI')
#y.discard('MI')
print(y)

In [ ]:
# symmetric_difference(): Returns a set with the symmetric differences of two sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z = y.symmetric_difference(x)
print(z)

In [ ]:
# symmetric_difference_update(): inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

y.symmetric_difference_update(x)
print(y)

In [ ]:
# union(): Return a set containing the union of sets
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

z=x.union(y)
print(z)

In [ ]:
# update(): Update the set with the union of this set and others
x = {"apple", "banana", "cherry"}
y = {"samsung", "mi", "apple"}

x.update(y)
print(x)

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
d1={"Name": "Ankit","Class": '12th','Roll No.': 25, 'Result': "Pass"}
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [ ]:
# Accessing Items
# You can access the items of a dictionary by referring to its key name, inside square brackets.
d1['Roll No .']

KeyError: ignored

In [ ]:
# get() function
d1.get('Roll No.')

25

In [ ]:
# Change values
d1['Name']='Tushar'
print(d1)

{'Name': 'Tushar', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [ ]:
# Looping through dictionary
for j in d1:
    print(j)

Name
Class
Roll No.
Result

In [ ]:
for j in d1:
    print(d1[j])

Ankit
12th
25
Pass

In [ ]:
# Extract keys
d1.keys()

dict_keys(['Name', 'Class', 'Roll No.', 'Result'])

In [ ]:
# Extract values
d1.values()

dict_values(['Aniket', '12th', 25, 'Pass'])

In [ ]:
# Extract keys and values both
d1.items()

dict_items([('Name', 'Tushar'), ('Class', '12th'), ('Roll No.', 25), ('Result', 'Pass')])

In [ ]:
for k,v in d1.items():
    print(k,v)

Name Ankit
Class 12th
Roll No. 25
Result Pass

In [ ]:
# Check existance of key
print('Names' in d1,'\n')
if 'Names' in d1:
    print('Name exists in disctionary')

False

In [ ]:
# Nested dictionary
myfamily = {
  "child1" : {
    "name" : "kruti",
    "year" : 2004
  },
  "child2" : {
    "name" : "Akruti",
    "year" : 2007
  },
  "child3" : {
    "name" : "Sanskruti",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'kruti', 'year': 2004}, 'child2': {'name': 'Akruti', 'year': 2007}, 'child3': {'name': 'Sanskruti', 'year': 2011}}

In [ ]:
child1 = { "name" : "kruti","year" : 2004}
child2 = {"name" : "Akruti","year" : 2007}
child3 = {"name" : "Sanskruti","year" : 2011}
child4 = ["asfasf","sfasfas","fdga"]
myfamily = { "child10" : child1, "child20" : child2, "child30" : child3
            ,"child40":child4}

print(myfamily)

{'child10': {'name': 'kruti', 'year': 2004}, 'child20': {'name': 'Akruti', 'year': 2007}, 'child30': {'name': 'Sanskruti', 'year': 2011}, 'child40': ['asfasf', 'sfasfas', 'fdga']}

## Methods
- clear(): Removes all the elements from the dictionary
- copy(): Returns a copy of the dictionary
- fromkeys(): Returns a dictionary with the specified keys and values
- pop(): Removes the element with the specified key
- popitem(): Removes the last inserted key-value pair
- setdefault(): Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update(): Updates the dictionary with the specified key-value pairs

In [ ]:
# clear(): Removes all the elements from the dictionary
print(d1)
d1.clear()
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A'}
{}

In [ ]:
# copy(): Returns a copy of the dictionary d2 = d1
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
d3= d1
print(d3)
D=d1.copy()
print(D)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [ ]:
# fromkeys(): Returns a dictionary with the specified keys and values
x = ('key1', 'key2', 'key3')
y = 0
z=dict.fromkeys(x,y)
print(z)

{'key1': 0, 'key2': 0, 'key3': 0}

In [ ]:
# pop(): Removes the element with the specified key
print(d1)
d1.pop('Name')
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
{'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}

In [ ]:
# popitem(): Removes the last inserted key-value pair
print(d1)
d1.popitem()
print(d1)

{'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
{'Class': '12th', 'Roll No.': 25}

In [ ]:
# setdefault(): Returns the value of the specified key. 
# If the key does not exist: insert the key, with the specified value
d1={'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
print(d1)
d2=d1.setdefault("Class")
print(d2)
d3=d1.setdefault("Location",'Pune')
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass'}
12th
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune'}

In [ ]:
# update(): Updates the dictionary with the specified key-value pairs
print(d1)
d1.update({"Division":"A"})
print(d1)

{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune'}
{'Name': 'Ankit', 'Class': '12th', 'Roll No.': 25, 'Result': 'Pass', 'Location': 'Pune', 'Division': 'A'}

In [ ]:
class1= ["sanket","ganesh","raj","anu"]  ## TYpe
tuple1=('Raj', 'Arjun', 'Priya','Kishor','Anu') ##Type
set1 = {"sanket","ganesj",'hrutwik'} #Type
dict1 = {"sanket":"1","ganesh":"2","hrutwik": "3"}# dict??

In [ ]:
a= {"apple", "banana", "cherry", "apple"}

print(a)

{'apple', 'cherry', 'banana'}