<a href="https://colab.research.google.com/github/Gaurav2305/Basics-of-Python_SPC/blob/main/Assignments/Assignment_1_Gaurav_Vijay_Gavali.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Name="Gaurav Vijay Gavali"
Roll_No=9144

Lists

In [2]:
A=["Gaurav","Gavali",21,"Student",]
B=["SP College","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Gaurav', 'Gavali', 21, 'Student']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [3]:
a=("Gaurav","Gavali",21,"Student")
b=("SP College","Autonomous","Sadashiv Peth",411030)
print(a)
print(b)

('Gaurav', 'Gavali', 21, 'Student')
('SP College', 'Autonomous', 'Sadashiv Peth', 411030)

In [4]:
print(A[0:2])
print(B[2:3])
print(a[2])
print(b[3])

['Gaurav', 'Gavali']
['Sadashiv Peth']
21
411030

Class

In [5]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [6]:
print(A)
A1=A.copy()
print(A1)

### Tupples cannot be copied

['Gaurav', 'Gavali', 21, 'Student']
['Gaurav', 'Gavali', 21, 'Student']

Append

In [7]:
print(B)
B.append("Autonomous")
print(B)

### TUpples cannot be modified

['SP College', 'Autonomous', 'Sadashiv Peth', 411030]
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Count

In [8]:
print(A.count("Gaurav"))
A.append("Gaurav")
print(A.count("Gaurav"))

1
2

Delete list

In [9]:
try:
 print(A1)
 del A1
 print(A1)
except:
    pass

### List A1 is deleted therefore it is showing error
### Used Try and Expect to maintain the continuity of the program

['Gaurav', 'Gavali', 21, 'Student']

Extend

In [10]:
print(A)
print(B)
A.extend(B)
print(A)

['Gaurav', 'Gavali', 21, 'Student', 'Gaurav']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['Gaurav', 'Gavali', 21, 'Student', 'Gaurav', 'SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Index

In [11]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

### If the elements are repeated in the list then index() will provide the index no. of first element

2
6

Sort

In [12]:
K=["D","A","C","B"]
print(K)
K1=[4,2,1,3]
print(K1)
K.sort()
K1.sort()
print(K)
print(K1)

### For sorting all the elements in the list should be of same type

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [13]:
print(K[:2])
print(K1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested List

In [14]:
ABlist=["Gaurav","SP COllege",[21,411030]]
print(ABlist)
print(ABlist[2])

['Gaurav', 'SP COllege', [21, 411030]]
[21, 411030]